<% @page_title = "会員管理" %>
<h1><%= @page_title %></h1>

<% if @members.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>ユーザ名</th>
        <th>氏名</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |m| %>
        <tr>
          <td><%= m.id %></td>
          <td><%= link_to m.user_name, admin_member_path(m) %></td>
          <td><%= m.full_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @members %>
<% else %>
  <p>会員が見つかりませんでした。</p>
<% end %>
