<% @page_title = "#{@member.user_name}さんのプロフィール" %>
<h1><%= @page_title %></h1>

<div class="toolbar">
    <%= link_to "一覧へ戻る", admin_members_path %>
    <%= link_to "編集", edit_admin_member_path(@member)%>
    <%= link_to "削除", admin_member_path(@member), method: :delete, data: { confirm: "本当に削除しますか?" }  %>
</div>
<%= render "admin/shared/member_info" %>