<% @page_title = "会場一覧" %>
<h1><%= @page_title %></h1>

<div class="toolbar">
    <%= link_to "新規登録", new_admin_place_path %>
</div>

<% if @places.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>会場名</th>
        <th>場所</th>
        <th>収容人数</th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |p| %>
        <tr>
          <td style="text-align: right"><%= p.id %></td>
          <td style="text-align: right"><%= link_to p.name, admin_place_path(p) %></td>
          <td style="text-align: right"><%= p.address %></td>
          <td style="text-align: right"><%= p.capacity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @places %>
<% else %>
  <p>会場が見つかりませんでした。</p>
<% end %>