<% if @events.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>開催日</th>
        <th>イベント名</th>
        <th>価格</th>
        <th>限定数</th>
        <th>売上枚数</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |e| %>
        <tr>
            <td><%= e.held_at&.strftime("%Y年%m月%d日") %></td>
            <td><%= link_to e.name, e %></td>
            <td><%= e.price.to_s(:delimited) %>円</td>
            <td><%= e.capacity.to_s(:delimited) %></td>
            <td><%= e.tickets.count.to_s(:delimited) %></td>
            <td>
              <%= link_to "編集", edit_event_path(e) %> | 
              <%= link_to "削除", event_path(e), method: :delete, data: { confirm: "本当に削除しますか?" } %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @events %>
<% else %>
  <p>開催したイベントが見つかりませんでした。</p>
<% end %>
