<nav class="navi">
  <ul>
    <%= image_tag "logo.png", size: "150x52", alt: "logo" %>
    <%= menu_link_to "Top", :root %>
    <%= menu_link_to "Search", "#" %>
    <%= menu_link_to "Create", "#" %>
    <%= menu_link_to "MyPage", "#" %>
    <%= menu_link_to "Login", :login %>
  </ul>
</nav>