<% if @tickets.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>購入日</th>
        <th>イベント名</th>
        <th>開催者</th>
        <th>開催日</th>
        <th>価格</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |t| %>
        <% e = t.event %>
        <tr>
            <td><%= t.created_at&.strftime("%Y年%m月%d日 %R") %></td>
            <td><%= link_to e.name, e %></td>
            <td><%= link_to e.member.user_name, e.member %></td>
            <td><%= e.held_at&.strftime("%Y年%m月%d日") %></td>
            <td><%= e.price.to_s(:delimited) %>円</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tickets %>
<% else %>
  <p>イベントが見つかりませんでした。</p>
<% end %>