<% @page_title = "'#{@event.name}'の詳細" %>

<h1><%= @page_title %></h1>

<%if current_member%>
    <div class="toolbar">
        <%= link_to "編集", [:edit, @event] if @event.host_id == current_member.id %>
    </div>
<%end%>

<%= render "shared/event_info" %>

<%if current_member%>
    <div class="buy_button">
        <%= link_to  "購入", buy_event_path(@event) %>
        <% if current_member.bookmark?(@event) %>
            <%= link_to "ブックマークに追加", [:bkm, @event], method: :patch, class: "button" %>
        <% elsif !(current_member == @event.member) %>
             <%= link_to "ブックマーク解除", [:unbkm, @event], method: :patch, class: "button" %>
        <% end %>
    </div>
<%end%>