<% @page_title = "'#{@event.name}'の詳細" %>

<h1><%= @page_title %></h1>

<%if current_member%>
    <div class="toolbar">
        <%= link_to "編集", [:edit, @event] if @event.host_id == current_member.id %>
    </div>
<%end%>

<%= render "shared/event_info" %>

<%if current_member%>
    <div class="button">
        <% unless @event.tickets.count >= @event.capacity then %>
            <%= link_to  "購入", buy_event_path(@event) if @event.held_at >= Date.today%>
        <%else%>
            <p>売り切れ</p>
        <%end%>
        <%= link_to "ブックマークに追加", [:bkm, @event], method: :patch, class: "button" %>

    </div>
<%end%>