<% @page_title = "タグ詳細" %>
<h1><%= @page_title %></h1>

<div class="toolbar">
    <%= link_to "一覧へ戻る", admin_tags_path %>
    <%= link_to "編集", edit_admin_tag_path(@tag)%>
    <%= link_to "削除", admin_tag_path(@tag), method: :delete, data: { confirm: "本当に削除しますか?" }  %>
</div>
<%= render "tag_info" %>