<% @page_title = "AdminTop" %>
<h1><%= @page_title %></h1>

<ul>    
    <li> <%= link_to "会員管理", :admin_members %> </li>
    <li> <%= link_to "会場管理", :admin_places %> </li>
    <li> <%= link_to "イベント管理", :admin_events %> </li>
    <li> <%= link_to "イベントタグ管理", :admin_tags %> </li>
    <li> <%= link_to "ログアウト", :admin_logout, method: :post, data: { confirm: "ログアウトしますか?" } %> </li>
</ul>
