<table class="attr">
  <tr>
    <th>ID</th>
    <td><%= @place.id %></td>
  </tr>
  <tr>
    <th>会場名</th>
    <td><%= @place.name %></td>
  </tr>
  <tr>
    <th>会場所在地</th>
    <td><%= @place.address %></td>
  </tr>
  <tr>
    <th>収容人数</th>
    <td><%= @place.capacity %></td>
  </tr>
  <tr>
    <th>会場ランク</th>
    <td><%= @place.rank %></td>
  </tr>
</table>
