<% @page_title = "ユーザ情報編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "ユーザ情報に戻る", :info_my %></div>

<%= form_for @member, as: "update", url: :my do |form| %>
  <%= render "shared/member_form", form: form %>
  <div><%= form.submit %></div>
<% end %>