<% @page_title = "会員の詳細" %>

<h1><%= @page_title %></h1>

<div class="toolbar">
    <%= link_to "MyPageに戻る", :my %>
    <%= link_to "編集", :edit_my %>
    <%= link_to "パスワード変更", :edit_password %>
</div>

<%= render "shared/member_info" %>