<% @page_title = "MyPage" %>

<h1><%= @page_title %></h1>

<div class="rank">
    <p>あなたの会員ランクは
        <%= if @rank >3 then
                "PLATINUM"
            elsif @rank >2 then
                "GOLD"
            elsif @rank >1 then
                "SILVER"
            elsif @rank >0 then
                "BRONZE"
            else
                "STANDARD"
            end%>
    です</p>
</div>

<ul>
    <li> <%= link_to "ブックマーク", :bkm_my %> </li>
    <li> <%= link_to "保有チケット", :tickets_my %> </li>
    <li> <%= link_to "購入履歴", :ticket_his_my %> </li>    
    <li> <%= link_to "チケット販売状況", :tickets_stat_my %> </li>    
    <li> <%= link_to "イベント開催履歴", :event_his_my %> </li>
    <li> <%= link_to "会員情報", :info_my %> </li>
    <li> <%= link_to "退会", :account, method: :delete, data: { confirm: "本当に退会しますか?" } %> </li>
    <li> <%= link_to "ログアウト", :logout, method: :post, data: { confirm: "ログアウトしますか?" } %> </li>
</ul>

