<% @page_title = "会場管理" %>
<h1><%= @page_title %></h1>

<div class="toolbar">
    
</div>

<% if @places.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>会場名</th>
        <th>場所</th>
        <th>収容人数</th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |p| %>
        <tr>
          <td><%= link_to p.name, place_path(p) %></td>
          <td><%= p.address %></td>
          <td><%= p.capacity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @places %>
<% else %>
  <p>会場が見つかりませんでした。</p>
<% end %>